<div>
    <button (click)="realizarAjax('http://jsonplaceholder.typicode.com/users')">Carregar resultado via HttpClient get()</button>
    
    <div id="mostraResultados" style="display: none">
        <table>
            <tr *ngFor="let item of this.resultAPIrequest">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.username }}</td>
            </tr>
        </table>
    </div>     

    <div id="semResultados" style="display: none">
        Sem resultados busca
    </div>    
    
</div>
